.item {
    height: 400px;
    width: 250px;

    margin: 2%;
    padding: 10px;

    display: flex;
    flex-direction: column;

    border: black 5px solid;
    border-radius: 10px;

    background-color: whitesmoke;

}

.flexB {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

img {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}

button{
    border-radius: 10px;
    background-color: rgb(252, 105, 105);
    font-size: large;
    padding: 5px 50px;
    transition: all 0.5s;
}

body {
    background-color: thistle;
}

nav {
    background-color:purple;
    width: 600px;
    height: 100px;
    margin:auto;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

button:hover {
    background-color: plum;
    padding:7px 55px;
    cursor: pointer;
}

header {
    background-color: rgb(252, 105, 105);
    width: 1000px;
    margin: auto;
    border-radius: 10px;
    border-color: royalblue;
    border-style: solid;
}

h4 {
    text-align: center;
}

footer {
    background-color: black;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    border-color: royalblue;
    border-style: solid;
}

.footer {
    color:white;
}